.have-account-block {
    display: flex;
    width: 100%;
    justify-content: center;
}

.blue-link {
    color: blueviolet;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}

.auth-error-block {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    background-color: red;
    color: black;
    border-radius: 6px;
    margin-bottom: 10px;
}