.explorer-container {
    min-height: 70vh;
    background-color: rgb(156 156 156);
    box-shadow: 0px 0px 30px 20px rgb(79 29 29 / 23%);
    max-width: 1000px;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}

.explorer-title {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.folders-structure {
    display: flex;
    flex-direction: column;
}

.folder-item-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.folder-item-icon {
    width: 28px;
    height: 28px;
}

.folder-item-name {
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 500;
    user-select: none;
}

.folder-item-name:hover {
    color: rgb(50, 28, 106);
}

.explorer-path-block {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}

.explorer-path-item {
    color: rgb(50, 28, 106);
    user-select: none;
}

.explorer-path-item:hover {
    color: rgb(101, 64, 192);
}